imports:
    - { resource: fixtures.yaml }
    - { resource: grids.yaml }
    - { resource: resources.yaml }
    - { resource: sylius_ui.yaml }

knp_gaufrette:
    stream_wrapper: ~
    adapters:
        vendor_logo:
            local:
                directory: "%sylius_core.public_dir%/media/vendor-logo"
                create: true
    filesystems:
        vendor_logo:
            adapter: vendor_logo

liip_imagine:
    loaders:
        vendor_logo:
            filesystem:
                data_root: "%kernel.project_dir%/public/media/vendor-logo"
    filter_sets:
        odiseo_sylius_vendor_plugin_logo:
            data_loader: vendor_logo
            filters:
                thumbnail: { size: [300, 300], mode: outbound }
