{% set product = hookable_metadata.context.product|default(null) %}

{% if product and product.vendor %}
<div class="mb-2">
    <p>
        <span>{{ 'odiseo_vendor.ui.vendor'|trans }}:</span>
        <a class="col-md-auto" href="/en_US/products/blissful-breeze-cap/reviews/new">
            {{ product.vendor.name }}
        </a>
    </p>
</div>
{% endif %}
